h1 {
    display: inline;
    margin: 0px;
}

.header {
    display: inline-flex;
    vertical-align: bottom;
    align-items: center;
}

.header i {
    display: none;
}

.inp-custom {
    margin: 0px !important;
}

.inp-custom * {
    margin: 0px !important;
}

nav {
    background-image: linear-gradient(to right, #ff0844 0%, #ffb199 200%);
}

.brand-logo {
    margin-left: 10px;
}

.modal {
    width: 25vw !important;
    height: 50vh !important;
}